* {
  padding: 0;
  margin: 0;
  }
header {
  display: flex;
  justify-content: 
  space-between;
  align-items: center;
  padding: 15px 20px;
  flex-wrap: wrap;
  }
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  order: 2;
  }
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: black;
  }
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  }
nav.active {
  display: block; 
}
.product-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  text-align: center;
}
.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  width: auto;
}
.product-card button {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  }
.product-card button:hover {
  background-color: gray;
  }
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  }
.products h2 {
  grid-column: 1 / -1;
}
.product-card h3 {
  margin-top: 10px;
}
.cart {
  padding: 20px;
}
@media (max-width: 768px) {
  nav {
    display: none;
    order: 3;
    flex-basis: 100%;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    }
  nav a {
    text-decoration: none;
    color: black;
    }
  .products {
  grid-template-columns: 1fr;
  }
  .product-card {
  width: 90%;
  }
  .hamburger {
  display: flex;
  }
}